[Llaves]/Library/
[Llaves]/Temp/
[Llaves]/Obj/
[Llaves]/Build/
[Llaves]/Builds/
[Llaves]/Assets/AssetStoreTools*
[Llaves]/*.csproj
[Llaves]/*.unityproj
[Llaves]/*.sln
[Llaves]/*.suo
[Llaves]/*.tmp
[Llaves]/*.user
[Llaves]/*.userprefs
[Llaves]/*.pidb
[Llaves]/*.booproj
[Llaves]/*.svd
[Llaves]/*.pdb
[Llaves]/*.opendb
[Llaves]/*.VC.db
[Llaves]/*.pidb.meta
[Llaves]/*.sln.meta
[Llaves]/*.suo.meta
[Llaves]/*.tmp.meta
[Llaves]/*.user.meta
[Llaves]/*.userprefs.meta
[Llaves]/*.pidb.meta
[Llaves]/*.booproj.meta
[Llaves]/*.svd.meta
[Llaves]/*.pdb.meta
[Llaves]/*.opendb.meta
[Llaves]/*.VC.db.meta
[Llaves]/.vs/
.DS_Store
Thumbs.db
